// FONT
$default-font-size: 1.6rem;
// COLORS
$color-primary: #F9F2EC;

$color-grey-dark: #333;
$color-grey-dark-2: #999;
$color-grey-dark-3: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;