@import "../abstracts/mixins";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  @include respond(big-desktop) {
    font-size: 100%;
  }

  @include respond(portatil-l) {
    font-size: 80%;
  }

  @include respond(portatil) {
    font-size: 62.5%;
  }

  @include respond(tablet) {
    font-size: 45%;
  }

  @include respond(mobil-l) {
    font-size: 39%;
  }

  @include respond(mobil-m) {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet) {
    padding: 0;
  }
}