@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700&display=swap');
@import "../abstracts/variables";

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading_primary {
  font-size: 6rem;
  color: $color-grey-dark;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.paragraph {
  font-size: $default-font-size;
}